/* POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    width: 100%;
    min-height: 100vh;
    /* background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%); */
    background: linear-gradient(140deg, #1591d6, #06efa3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.wrapper
{
    max-width: 600px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 12px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.emoji
{
    font-size: 72px;
    margin-top: 20px;
}

.btn
{
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: #1591d6;
    transition: .3s;
}

.btn:hover
{
    background: #06efa3;
}