/* POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.wrapper
{
    width: 400px;
    border-radius: 7px;
    background: #fff;
}

.wrapper header
{
    font-size: 21px;
    font-weight: 500;
    padding: 16px 15px;
    color: #333;
    border-bottom: 1px solid #bfbfbf;
    display: flex;
    align-items: center;
}

header i
{
    cursor: pointer;
    font-size: 30px;
    margin-right: 8px;
}
.wrapper.active header i
{
    font-size: 30px;
    margin-left: 5px;
}

.wrapper.active .input-part
{
    display: none;
}

.wrapper .input-part
{
    display: block;
    margin:  25px 30px;
}

.wrapper .input-part :where(input, button)
{
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
}

.wrapper .input-part input
{
    text-align: center;
    border: 1px solid #bfbfbf;
}

.wrapper .input-part input:is(:focus, :valid)
{
    border: 2px solid #43AFFC;
}
.seperator
{
    height: 1px;
    width: 100%;
    margin: 25px 0px;
    background: #ccc;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}

.seperator::before
{
    content: "or";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
    color: #ccc;
}

.input-part .info-text
{
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-top: 10px;
}

.info-text.error
{
    display: block;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.info-text.pending
{
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}

.wrapper .input-part button
{
    color: #fff;
    background: #333;
    cursor: pointer;
}

.wrapper.active .weather-part
{
    display: flex;
}

.wrapper .weather-part
{
    margin: 3px 0 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.weather-part img
{
    max-width: 125px;
}

.weather-part .temp
{
    display: flex;
    font-size: 72px;
    font-weight: 500;
}

.weather-part .temp .numb
{
    font-weight: 600;
}

.weather-part .temp .deg
{
    font-size: 40px;
    font-weight: 600;
    /* margin: 10px 5px 0 0; */
    /* display: block; */
}


.weather-part .location
{
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-bottom: 30px;
}

.location i
{
    font-size: 22px;
    margin-right: 5px;
}

.weather-part .bottom-details
{
    border-top: 1px solid #bfbfbf;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-details .column
{
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column i
{
    color: #43AFFC;
    font-size: 40px;
}

.column.humidity
{
    border-left: 1px solid #bfbfbf;
}

.details .temp, .humidity span
{
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}

.details .temp .deg
{
    font-size: 12px;
}

.details p
{
    font-size: 14px;
    margin-top: -6px;
}